<!DOCTYPE html>
<head>
  <meta charset='utf-8'>
  <title>rjshade/gmaps-autocomplete @ GitHub</title>
  <title>Google Maps and jqueryUI</title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
</head>

<body>


<div class="container">
  <div class="flash-message">
  </div>



  <div class="modal-popup">
    <div class="modal" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add trip</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                  Starting From:
                </div>
                <div class="col-md-3">
                  <input id='gmaps-input-address-from' class='form-control' placeholder='Start typing a place name...' type='text' />
                </div>
                <div class="col-md-2">
                  Destination:
                </div>
                <div class="col-md-3">
                  <input id='gmaps-input-address-to' class='form-control' placeholder='Start typing a place name...' type='text' />
                </div>
              </div>

              <%= form_for(@marker, remote: true) do |f| %>
                  <%= f.hidden_field :from_latitude, id:"location-latitude1" %>
                  <%= f.hidden_field :from_longitude, id:"location-longitude1" %>
                  <%= f.hidden_field :to_latitude, id:"location-latitude2" %>
                  <%= f.hidden_field :to_longitude, id:"location-longitude2" %>
                  <%= f.hidden_field :location_from, id:"location-from" %>
                  <%= f.hidden_field :location_to, id:"location-to" %>
                  <div class="row row-designing">
                    <div class="col-md-2">
                      Departure Date:
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :departure_date, id:"datetimepicker1" %>
                    </div>
                    <div class="col-md-2">
                      Begin At:
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :begin_at, class: 'timepicker1', :value => Time.now.strftime("%T")  %>
                    </div>
                  </div>
                  <div class="row row-designing">
                    <div class="col-md-2">
                      End At:
                    </div>
                    <div class="col-md-3">
                      <%= f.text_field :end_at, class: 'timepicker1', :value => Time.now.strftime("%T") %>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                      <%= f.submit 'Add Trip' , class: "btn btn-primary" %>
                    </div>
                  </div>
              <% end %>


              <!--input type="text", id="datetimepicker1" />
              <button type="button", id="submit-modal" > Submit </button-->


            </div>
          </div>
          <!--div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div-->
        </div>
      </div>
    </div>
  </div>




  <!--%= link_to 'Load Partial', partial_markers_path(flag: 'date-to'), {:remote => true,"data-toggle": "modal", "data-target": "#myModal"} %-->

  <div class="row">
    <div class="col-sm-3">
      <h3 class="text-info">Trips History </h3>
    </div>
    <div class="col-sm-2 create-trip-button">
      <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Create trip</button>
    </div>
  </div>
  <div class="row main-div">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
        <tr class="row">
          <th class="col-sm-4">Starting Location</th>
          <th class="col-sm-4">Ending Location</th>
          <th class="col-sm-offset-1 col-sm-3">Actions</th>
        </tr>
        </thead>
        <tbody class="append-row">
        <% @markers.each do |location| %>
            <%= render 'partial', route: location %>
        <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-12 email-template-load"></div>
      </div>
      <!--div class="email-template-load">

      </div-->
    </div>
    <div class="col-md-3">
      <h5 class="text-info">Members </h5>
      <div class="active-members-list text-success">
      </div >
      <div class="pending-members-list text-danger">
      </div>
    </div>
    <div class="col-md-3">
      <div id='gmaps-canvas'>
      </div>
    </div>

  </div>
</div>

</body>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datepicker();


        $('#form-submission').click(function(){
            $('#myModal').modal('hide');
        });

        //$('.timepicker1').timepicker();


    });

</script>
