<!DOCTYPE html>
<head>
  <meta charset='utf-8'>
  <title>rjshade/gmaps-autocomplete @ GitHub</title>
  <title>Google Maps and jqueryUI</title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        Join Trip
      </div>
      <!--a class="navbar-brand" href="#">WebSiteName</a-->
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><div class="navbar-brand"><%= current_user.name.titleize %></div> </li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    </ul>
  </div>
</nav>


<div class="container container-designing">
  <div class="flash-message">
  </div>
  <!--div class="image-display"-->
    <!--% if current_user.avatar.present? %-->
      <!--%= image_tag current_user.avatar.url %-->
    <!--% end %-->
  <!-- /div-->

  <!--div class="modal-popup">

    <div class="modal" id="myModal1" role="dialog">
      <div class="modal-dialog"-->

        <!-- Modal content-->
        <!--div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add trip</h4>
          </div>
          <div class="modal-body edit-trip-body">
          </div>
        </div>
      </div>
    </div>
  </div-->



  <div class="modal-popup">
    <div class="modal" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add trip</h4>
          </div>
          <div class="modal-body">
          </div>
          <!--div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div-->
        </div>
      </div>
    </div>
  </div>


  <!--%= link_to 'Load Partial', partial_markers_path(flag: 'date-to'), {:remote => true,"data-toggle": "modal", "data-target": "#myModal"} %-->

  <div class="row">
    <div class="col-sm-3">
      <h3 class="text-info">Trips History </h3>
    </div>
    <div class="col-sm-2 create-trip-button">
      <!--button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Create trip</button-->
      <%= link_to 'Create Trip', new_marker_path, class:"btn btn-info btn-md", data: {target: '#myModal',toggle: 'modal'},remote: :true %>
    </div>
  </div>
  <div class="row main-div">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
        <tr class="row">
          <th class="col-sm-4">Starting Location</th>
          <th class="col-sm-4">Ending Location</th>
          <th class="col-sm-offset-1 col-sm-3">Actions</th>
        </tr>
        </thead>
        <tbody class="append-row">
        <%- @markers.each do |location| %>
            <% array = [] %>
            <% location.pictures.each do |picture| %>
              <% array << picture.avatar.url %> 
            <% end %>
            <% puts '@@@@@@@@@@@@@@@@@@@@@@@@@@@2'%>
            <% puts array %>
            <%= render 'partial', route: location, picture_urls: array %>
        <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-12 email-template-load"></div>
      </div>



      <div class="row">
        <div class="images">
        </div>

      </div>

      <!--div class="email-template-load">

      </div-->
    </div>
    <div class="col-md-3">
      <h5 class="text-info">Members </h5>
      <div class="active-members-list text-success">
      </div >
      <div class="pending-members-list text-danger">
      </div>
    </div>
    <div class="col-md-3">
      <div id='gmaps-canvas'>
      </div>
    </div>
    <div class="row">
      <%#= jwplayer_assets %>
      <%#= jwplayer({file: Marker.last.video.url(:medium)}) %>
      <!-- <iframe src=<%#= Marker.last.pdf.url %> width="600" height="780" style="border: none;"> </iframe> -->

      <!-- <a href="https://docs.google.com/gview?url=#{url}&embedded=true">Your Pdf Viewer</a>  -->
      <%= video_tag Marker.last.video.url(:medium) %>
      <%= link_to 'View Pdf', Marker.last.pdf.url, target: :_blank %>
      <!-- <div id='myElement'>Loading the player ...</div> -->
      <!-- <div class="video"> -->
        <%#= video_tag(Marker.last.video.url,  :size => "320x240", :controls => true, :autobuffer => true) %>
        <%#= videojs_rails sources: { mp4: Marker.last.video.url, webm: Marker.last.video.url}, setup: "{}", :size => "320x240", :controls => true, :autobuffer => true %>
      <!-- </div> -->
    </div>

  </div>
</div>

</body>

